<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menubar">
                <li class="link_bar"><a href="" class="link_tag"></a></li>
                <li class="link_bar"><a href="" class="link_tag"></a></li>
                <li class="link_bar"><a href="" class="link_tag"></a></li>
            </ul>
        </nav>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </header>
</body>
</html>